/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
.nav{
  background-color: rgb(39, 39, 100);
  color: white;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  /* position: absolute;
  top: 0px;
  left: 0px; */
  margin-bottom: 2vh;
  padding: 2vh;
  width: 100vw;
  height: fit-content;
}
#searchBar{
  width: 25vw;
}
#submit-search{
  margin: 1vw;
  padding: .5vw;
}

.profile-img{
  height: 6vh;
  width: 4.25vw;
  border-radius: 50%;
  background-image: url("https://www.mountsinai.on.ca/wellbeing/our-team/team-images/person-placeholder/image");
  background-position: center;
  background-size: cover;
  float: right;
  margin: 1vh 1vw;
  box-shadow: 0px 0px 5px grey;
}
.header{
  width: 100vw;
  padding: 2px 0;
}
#site-title{
  font-size: 4vw;
}
.friend{
  float: right;
  margin: 1.5vw;
  padding: 1vw;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 5px grey;
}
#friend-list{
  list-style: none;
  padding: 0 1vw;
}
#friends-title{
  text-decoration: underline;
}
.footer{
position: absolute;
bottom: 0;
width: 100vw;
}
#footer-nav{
  display: inline-flex;
  gap: 10vw;
  list-style: none;
}
.popular-events{
  margin: 4vh;
  margin-left: 11vw;
  padding: 1vh 5vw;
  background-color: white;
  box-shadow: 0px 0px 5px grey;
  width: 50vw;
}
.authentication{
  display: inline;
}
.upcoming-events{
  margin: 4vh;
  margin-left: 11vw;
  padding: 1vh 5vw;
  background-color: white;
  box-shadow: 0px 0px 5px grey;
  width: 45vw;
}
#user-home-title{
  margin-left: 3vw;
}
#friendsListButton{
  float: right;
  margin-right: 2vw;
  background-color: white;
  border: 1px solid white;
  color: black;
  box-shadow: 0px 0px 5px grey;
}
.list-of-friends{
  display: inline;
}
#friends-list-title{
  font-size: 4.5vh;
}
#list-of-friends{
  background-color: white;
  border-radius: 5px;
  width: 25vw;
  margin: 1.5vh 0;
  height: 4vh;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 2.75vh;
  box-shadow: 0px 0px 4px grey;
}
#delete-friend{
  margin: 1%;
  font-size: 2vh;
  padding: .1% 1.5%;
  background-color: white;
  color: white;
}
#create-event{
  float: right;
  margin-right: 2vw;
  background-color: white;
  border: 1px solid white;
  color: black;
  padding: .75vh .6vw;
  box-shadow: 0px 0px 5px grey;
}
#dropdown{
  background-color: white;
  
}
#dropdown-basic{
  background-color: white;
  color: black;
  border-color: rgb(227, 226, 226);

}
#dropdown-basic:focus{
  box-shadow: 0px 0px 5px rgba(16, 18, 128, 0.861);
  border-color: rgba(16, 18, 128, 0.861);
}
.event-details-label{
font-weight: 500;
font-size: 2.1vh;
}
.event-text-display{
  /* border: 1px solid rgb(227, 226, 226); */
  color: rgb(81, 80, 80);
}
.render-event{
  background-color: rgb(59, 106, 235);
  border-radius: 5px;
  color: white;
  text-wrap:pretty;
  padding: .15vw;
  overflow-y: scroll;
}
.dropdowns{
display: grid;
grid-template-columns: 11vw 11vw;
}
.profile-Form{
  margin: 10vh 20vw;
  border: 1px solid rgb(227, 226, 226);
  border-radius: 1vw;
  padding: 4vw;
  box-shadow: 0px 0px 5px grey;
}
#profile-button{
border: 1px solid rgb(227, 226, 226);
box-shadow: 0px 0px 1px rgb(99, 147, 243);
color: rgb(99, 147, 243);
}
#profile-button:hover{
  color: white;
  font-size: 1.5vw;
  font-weight: 800;
}
#profile-title{
  text-align: center;
  font-size: 3vw;
  color: rgb(22, 71, 168);
  display: grid;
}
.profile-buttons{
  display: grid;
}
#cutom-switch:active{
  animation-duration: 4s;
}
#settings-form-box{
  height: 50vh;
}
@keyframes changeBackgroundColorBack {
  0% {
    background-color: #1F1B24;
  }
  100% {
    background-color: white;
  }
}
@keyframes changeBackgroundColor {
  0% {
    background-color: white;
  }
  100% {
    background-color: #1F1B24;
  }
}



/* default styles for light mode */
body {
  background-color: white;
  color: black;
  animation: changeBackgroundColorBack 1s linear;
}
body .calendar{
  padding:4vw;
  margin: 3vw;
  box-shadow: 0px 0px 5px grey;
}
/* dark mode styles */
body.dark-mode{
background-color: #1F1B24;
color: white;
animation: changeBackgroundColor 1s linear;
}
body.dark-mode .profile-Form{
  box-shadow: 0px 0px 10px white;
  color: white;
}

body.dark-mode #profile-title{
  color: white;
}
body.dark-mode .nav{
  box-shadow: 0px 0px 10px white;
  background-color: #363439;
  color: white;
}
body.dark-mode #site-title{
  color: rgb(39, 39, 100);
}

body.dark-mode .calendar{
  box-shadow: 0px 0px 10px white;
  background-color: #363439;
  color: white;
  padding:4vw;
  margin: 3vw;
}
body.dark-mode .popular-events{
  box-shadow: 0px 0px 10px white;
  background-color: #363439;
  color: white;
  padding:4vw;
  margin: 3vw;
}

body.dark-mode .upcoming-events{
  box-shadow: 0px 0px 10px white;
  background-color: #363439;
  color: white;
}
body.dark-mode #modal-body{
  background-color: #363439;
  border: 1px solid #363439;
  color: white;
}
body.dark-mode p{
  background-color: #363439;
  border: 1px solid #363439;
  color: rgba(255, 255, 255, 0.683);
}

body.dark-mode #profile-button{
  box-shadow: 0px 0px 10px white;
  color: #363439;
}
body.dark-mode #profile-button:hover{
  box-shadow: 0px 0px 10px white;
  background-color: #363439;
  color: white;
}
.event-image {
  width: 400px;
  height: 300px; 
  object-fit: cover; /* This property ensures the image maintains its aspect ratio */
  border-radius: 8px; 
}
